@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

/* Smaller than standard 1400 (devices and browsers) */
@media only screen and (max-width: 1400px) {
    p {
        font-size: 2rem;
    }
    .normal {
        margin-left: 5vh;
        margin-top: 35px;
        line-height: 3rem;
    }
    .imagem {
        background-color: rgba(0, 0, 0, 0.555);
        color: white;
        width: 450px;
        padding-left: 4vh;
        padding-top: 20px;
        margin-left: 3vh;
        line-height: 3rem;
    }
    .imagem2 {
        background-color: rgba(0, 0, 0, 0.555);
        color: white;
        width: 480px;
        padding-left: 4vh;
        padding-top: 20px;
        margin-left: 3vh;
        line-height: 3rem;
    }
}             
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    p {
        font-size: 1.5rem;        
    }
    .normal {
        margin-left: 5vh;
        margin-top: 35px;
        line-height: 3rem;
    }
    .imagem {
        background-color: rgba(0, 0, 0, 0.555);
        color: white;
        width: 350px;
        padding-left: 4vh;
        padding-top: 20px;
        margin-left: 3vh;
        line-height: 3rem;
    }
    .imagem2 {
        background-color: rgba(0, 0, 0, 0.555);
        color: white;
        width: 380px;
        padding-left: 4vh;
        padding-top: 20px;
        margin-left: 3vh;
        line-height: 3rem;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    p {
        font-size: 1rem;
    }
    .normal {
        margin-left: 5vh;
        margin-top: 35px;
        line-height: 3rem;
    }
    .imagem {
        background-color: rgba(0, 0, 0, 0.555);
        color: white;
        width: 350px;
        padding-left: 4vh;
        padding-top: 20px;
        margin-left: 3vh;
        line-height: 3rem;
    }
    .imagem2 {
        background-color: rgba(0, 0, 0, 0.555);
        color: white;
        width: 380px;
        padding-left: 4vh;
        padding-top: 20px;
        margin-left: 3vh;
        line-height: 3rem;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    p {
        font-size: 1rem;
    }
    .normal {
        margin-left: 5vh;
        margin-top: 35px;
        line-height: 3rem;
    }
    .imagem {
        background-color: rgba(0, 0, 0, 0.555);
        color: white;
        width: 240px;
        padding-left: 4vh;
        padding-top: 20px;
        margin-left: 3vh;
        line-height: 3rem;
    }
    .imagem2 {
        background-color: rgba(0, 0, 0, 0.555);
        color: white;
        width: 260px;
        padding-left: 4vh;
        padding-top: 20px;
        margin-left: 3vh;
        line-height: 3rem;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    p {
        font-size: 0.5rem;
    }
    .normal {
        margin-left: 5vh;
        margin-top: 35px;
    }
}

body {
    font-family: 'Borel';
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-left: -8px;
    margin-top: -32px;
    margin-right: -8px;    
}

h1 {
    padding-top: 23px;
}

.conteiner {
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

/*.imagem2 {
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
    width: 480px;
    padding-left: 4vh;
    padding-top: 20px;
    margin-left: 3vh;
    line-height: 3rem;
}*/

#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.3rem;
    padding: 6px;
    margin: 0 -8px -8px;
    padding-top: 18px;
}


